@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    --darkBlue: #0360D9;
    --lightBlue: #E1EEFF;
    --shadePicBlue: #A5CCFF;
    --black: #2E2E2E;
}

*{
    font-family: "Roboto", sans-serif;
}
